@model IEnumerable<string>
@using Newtonsoft.Json
@{
    ViewBag.Title = "MostSelledProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<br /><br />
<h2>Top produse</h2>
<br />
<br />
<div id="container"></div>
<button id="plain">Plain</button>
<button id="inverted">Inverted</button>
<button id="polar">Polar</button>
<script type="text/javascript">
    var chart = Highcharts.chart('container', {

        title: {
            text: 'Top produse'
        },

        subtitle: {
            text: 'Plain'
        },

        xAxis: {
            categories:  @Html.Raw(JsonConvert.SerializeObject(this.Model)),
        },

        series: [{
            type: 'column',
            colorByPoint: true,
            data: @Html.Raw(JsonConvert.SerializeObject(this.ViewBag.AllQuantities)),
            showInLegend: false
        }]

    });


    $('#plain').click(function () {
        chart.update({
            chart: {
                inverted: false,
                polar: false
            },
            subtitle: {
                text: 'Plain'
            }
        });
    });

    $('#inverted').click(function () {
        chart.update({
            chart: {
                inverted: true,
                polar: false
            },
            subtitle: {
                text: 'Inverted'
            }
        });
    });

    $('#polar').click(function () {
        chart.update({
            chart: {
                inverted: false,
                polar: true
            },
            subtitle: {
                text: 'Polar'
            }
        });
    });

</script>