@{
    ViewBag.Title = "Brutaria Delice Pan";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="~/_shared/css/style.css" type="text/css" rel="stylesheet" />
<link href="~/_shared/jcarousel.responsive.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/_shared/jcarousel.responsive.js"></script>
<script type="text/javascript" src="~/_shared/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="~/_shared/dist/jquery.jcarousel.min.js"></script>

<link href="~/Style/style.css" rel="stylesheet" />
<br />
<div class="jumbotron">
    <h1 class="largeText">Brutaria Delice Pan</h1>   
    <p>Incercam sa va bucuram papilele gustative <br />cu ajutorul produselor nostre pline de savoare.<br /> Va invitam sa incercati <br />cateva din produsele pe care le oferim!</p>
</div>

<div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li><img src="../../Images/cozonac.jpg" alt="Image 1"></li>
                <li><img src="../../Images/placinta.jpg" alt="Image 2"></li>
                <li><img src="../../Images/paineNefeliata.jpg" alt="Image 3"></li>
                <li><img src="../_shared/img/img4.jpg" alt="Image 4"></li>
                <li><img src="../_shared/img/img5.jpg" alt="Image 5"></li>
                <li><img src="../_shared/img/img6.jpg" alt="Image 6"></li>
            </ul>
        </div>
        @*<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>*@
        <p class="jcarousel-pagination"></p>
    </div>
</div>

@*<div class="row">

        <div class="col-md-4" style="background-image: url('../../Images/cozonac.jpg');height: 300px;">
            <h2>Cozonac</h2>
        </div>
        <div class="col-md-4" style="background-image: url('../../Images/placinta.jpg');height: 300px;">
            <h2>Placinta cu branza</h2>
         </div>
        <div class="col-md-4" style="background-image: url('../../Images/saratele.jpg');height: 300px;">
            <h2>Saratele</h2>

        </div>
    </div>*@